<!-- Launch file for Stanley Innovation enabled Vector1 PC startup -->

<launch>
    <param name="/ROBOT_NAME" value="poli"/>
    <!-- ROS Driver, Robot State Publisher, and sensors -->
    <include file="$(find vector_bringup)/launch/platform/vector.launch"/>

    <!-- Sensor bringup for platforms that contain sensors-->
    <include file="$(find vector_bringup)/launch/sensors/vector_sensors.launch"/>

    <!-- Platform specific odometry estimate -->
    <include file="$(find vector_bringup)/launch/localization/vector_odometry.launch"/>

    <!-- Platform Manipulation -->
    <include file="$(find vector_bringup)/launch/manipulation/vector_manipulation.launch"/>

    <!-- Platform Teleoperation -->
    <include file="$(find vector_bringup)/launch/teleop/vector_teleop.launch"/>

    <group if="$(optenv VECTOR_HAS_KINECT_PAN_TILT false)">
        <include file="$(find vector_bringup)/launch/vector2/utilities/utilities_bringup.launch">
        </include>

        <include file="$(find vector_bringup)/launch/vector2/pan_tilt/pan_tilt_controller_manager.launch">
        </include>

        <include file="$(find vector_bringup)/launch/vector2/pan_tilt/pan_tilt_controller_spawner.launch">
        </include>

        <!-- Home Pan tilt -->
        <node pkg="si_utils" type="timed_roslaunch"
            args="5 vector_bringup pan_tilt_home.launch"
            name="pan_tilt_homing" output="screen"/>

        <!-- Kinect 2 Sensor bringup -->
       <!--  <include file="$(find vector_bringup)/launch/vector2/kinect2/kinect2_bridge.launch">
            <arg name="machine" value="vector2"/>
        </include> -->
    </group>
</launch>
